BODY.hairline {
  .hairline-border {
    border-width: 0.5px;
  }
  .hairline-border-bottom {
    border-bottom-width: 0.5px !important;
  }
}
.hairline-border {
  border-width:1px
}

.hairline-border-bottom {
  border-bottom-width: 1px !important;
}
