@import "sprites";
@import "utils";

@mixin sprite-retina-position($retina-sprite) {
  $sprite-offset-x: nth($retina-sprite, 3);
  $sprite-offset-y: nth($retina-sprite, 4);
  background-position: calc(#{$sprite-offset-x}/2) calc(#{$sprite-offset-y}/2);
}

@mixin retina-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: calc(#{$sprite-total-width}/2) calc(#{$sprite-total-height}/2);
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-retina-position($retina-sprite);
    @include retina-background-size($retina-sprite);
  }
}


@import "fonts";
@import "global";
@import "hairline-border";
@import "containers";
@import "navbar-main";
@import "sections";
@import "typo";
@import "forms";
@import "buttons";
@import "lists";
@import "appmenu";
@import "bookshelf";
@import "adjustments";
@import "book-reader";
@import "epub-slider";
@import "media";
@import "popup";
@import "ngDialog";
